* {
  box-sizing: border-box;
}

body {
  padding: 20px 40px;
  font-family: sans-serif;
  background: #ebebeb;
}

.container {
  max-width: 760px;
  margin: 0 auto;
}

form {
  padding: 2em;
  background: white;
  border-radius: 1rem;
}

input {
  width: 100%;
  margin-top: 2px;
  padding: 10px;
  font-size: 16px;
}

button {
  background: rgb(11, 91, 133);
  border: none;
  width: 200px;
  padding: 1rem;
  color: white;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 0.2rem;
}

label {
  display: block;
  margin-top: 1rem;
}

.form-error {
  display: none;
  color: red;
  font-size: 0.9rem;
  margin-top: 2px;
}

.form-success {
  display: none;
  color: rgb(0, 129, 50);
  font-size: 2rem;
  margin-top: 2px;
}
