@import "./imports/nav.css";
@import "./imports/results.css";
@import "./imports/loader.css";
@import "./imports/contactForm.css";
@import "./imports/errorMessage.css";

h1 {
  text-transform: uppercase;
  margin-bottom: 60px;
  font-size: 40px;
}

body {
  margin: auto;
  font-family: "Open Sans", sans-serif;
  background-color: pink;
  padding-top: 70px;
  transition: all 2s;
  scroll-behavior: smooth;
}

body.scrolled {
  background: #d3f6db;
}

body.scrolled .result {
  background: pink;
}
