* {
  box-sizing: border-box;
}

form {
  margin-top: 100px;
  padding: 2em;
  background: white;
  border: solid 1px black;
  border-radius: 1rem;
}

input {
  width: 100%;
  margin-top: 2px;
  padding: 10px;
  font-size: 18px;
}

button {
  background: rgb(0, 0, 0);
  border: none;
  width: 200px;
  padding: 1rem;
  color: white;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 0.2rem;
}

label {
  display: block;
  margin-top: 1rem;
}

.form-error {
  display: none;
  color: red;
  font-size: 18px;
  margin-top: 2px;
}

.form-success {
  display: none;
  font-size: 2rem;
  margin-top: 2px;
}

.message {
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  margin-top: 1rem;
  padding: 1rem;
}

.message.error {
  border-color: red;
  color: red;
}

.message.success {
  border-color: green;
  color: green;
}

button:disabled {
  background: lightgray;
}
