.container {
  max-width: 1100px;
  margin: 100px auto;
}

.results {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.card {
  margin: 5px auto;
  width: 33%;
}

.background-image {
  height: 220px;
  background-size: 50%;
  background-repeat: no-repeat;
}

div.details {
  padding: 10px;
  background: white;
  text-align: center;
  border-radius: 10px;
}
div.details:hover {
  background-color: lightcoral;
  color: white;
  border: solid 1px rgb(236, 133, 181);
  box-shadow: 0 0 5px 0 lightslategray;
}

body.scrolled div.details:hover {
  background-color: rgb(80, 230, 155);
  color: rgb(0, 0, 0);
  border: solid 1px rgb(171, 219, 175);
}

.name {
  font-size: 20px;
}
